/* CSS của Home Page */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  padding: 40px 100px;
  z-index: 5;
}
a {
  text-decoration: none;
}

header.sticky {
  background: #afa8a8;
  padding: 5px 100px;
}
header .logo {
  position: relative;
  font-weight: 700;
  color: #000;
  text-decoration: none;
  font-size: 3em;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 2s;
}
header ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
header ul li {
  position: relative;
  list-style: none;
}
header ul li a {
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  color: #000;
  letter-spacing: 2px;
  font-weight: 500px;
  transition: 1s;
}
header ul li span {
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  color: #000;
  letter-spacing: 2px;
  font-weight: 500px;
  transition: 1s;
}
.banner {
  position: relative;
  background-size: cover;
  z-index: -1;
}
header.sticky ul li a {
  color: #000;
}
header.sticky .logo {
  color: #000;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.header_add {
  margin-top: 120px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.paddingTale {
  margin-top: 70px;
}

.btn-w {
  width: 100px;
}

.modal-content {
  z-index: 100;
}
.modal-footer {
  display: flex;
  justify-content: center;
}
.btn-active {
  background-color: red;
}

/* CSS của Home Page */

/* CSS của Hãng Page */

/* CSS của cong ty Page */
/* CSS của cong ty Page */

/* CSS của san pham Page */
/* CSS của san pham Page */

/* CSS của home Page */

/* CSS của home Page */

.a {
  display: flex;
  justify-content: space-around;
}
.aaa::before {
  position: absolute;
  width: 100%;
  height: 10px;
  content: "";
  background-color: rgba(255, 255, 255, 0.5);
  transform: rotate(-45deg);
  animation: ff 2s infinite 2s ease-in;
}

@keyframes ff {
  from {
    left: -300px;
  }
  to {
    left: 100%;
  }
}
